/* public/assets/css/devices.css */

.navbar .btn {
    align-self: center;
}

.device-img-thumb {
    max-width: 100px;
    max-height: 50px;
    object-fit: contain;
}

.device-img-preview {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    display: block;
    margin-top: 10px;
}
